.Container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
