.Movie {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.Movie img {
  object-fit: contain;
  max-width: 200px;
  padding: 0.5rem;
  border-radius: 10px;
  transition: opacity 0.6s ease-out;
}

.info {
  position: absolute;
  height: 0%;
  width: 92%;
  max-width: 200px;
  bottom: 4%;
  left: 4%;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(42, 159, 255, 0.2) 0%,
    rgba(33, 33, 32, 1) 60%,
    rgba(33, 33, 32, 1) 100%
  );
  background-blend-mode: multiply;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  transition: height 0.5s ease-out;
  opacity: 0;
  margin-top: auto;
}

.Movie:hover .info {
  height: 93.5%;
  opacity: 1;
}

.info h3 {
  font-size: 1.2rem;
  margin-top: 120px;
}

button {
  outline: none;
  border: none;
  display: block;
  padding: 0.7rem;
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
}
