@media (min-width: 50px) {
  .MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
    row-gap: 1.3rem;
    column-gap: 1.3rem;
    padding: 0.5rem;
    align-items: center !important;
    justify-content: center !important;
  }

  .MovieListContainer {
    width: 100%;
    max-width: 65rem;
    margin: 20px auto;
    padding: 1.2rem;
    justify-items: center;
  }
}
