@media (min-width: 769px) {
  .DetailsCard {
    width: 100%;
    max-width: 75%;
    margin: 20px auto;
  }

  .DetailsCard p {
    border-bottom: 1.2px solid #eee;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .DetailsCard {
    width: 100%;
  }
}

.DetailsCard p {
  border-bottom: 1.2px solid #eee;
  padding: 10px;
}

.DetailsCard h1 {
  font-size: 1.25rem;
  margin-left: 10px;
}
