@media (min-width: 450px) {
  .DetailsCard {
    width: 900px;
    margin: 20px auto;
  }

  .DetailsCard p {
    border-bottom: 1.2px solid #eee;
    padding: 10px;
  }
}

.DetailsCard p {
  border-bottom: 1.2px solid #eee;
  padding: 10px;
}

.DetailsCard h1 {
  font-size: 1.25rem;
  margin-left: 10px;
}
