form {
  max-width: 550px;
  margin: 30px auto;
}

.Input {
  width: 100%;
  padding: 0.4rem;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
}

@media (max-width: 500px) {
  form {
    margin-top: 100px;
  }
}

@media (max-width: 595px) {
  form {
    max-width: 310px;
    margin: 20px auto;
  }

  .Input {
    width: 100%;
  }
}
