img {
  width: 300px;
  height: 300px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 2rem;
  margin: 10px auto;
  text-align: center;
}

.movies-container {
  max-width: 1100px;
  margin: 20px auto;
  /* padding-left: 1rem; */
}

.list-group-item {
  text-align: left !important;
  margin-top: 2px !important;
  color: darkblue !important;
}

a {
  text-decoration: none !important;
}
