@import "./stylesheet/variables";

body {
  background: #0000 !important;
}
:root {
  --s-loader-wrapper-bg-color: rgb(21, 22, 43);
  --s-loader-width: 20px;
  --s-loader-height: var(--s-loader-width);
  --s-loader-border-color-trans: rgba(240, 213, 62, 0.2);
  --s-loader-border-color-full: rgb(204, 179, 69);
}

.loader {
  width: var(--s-loader-width);
  height: var(--s-loader-height);
  border: 5px solid var(--s-loader-border-color-trans);
  border-left-color: var(--s-loader-border-color-full);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  text-align: center;
  background: transparent;
  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Movie
body {
  font-family: "Anton", sans-serif !important;
  font-weight: 300 !important;
}

.mt-1 {
  margin-top: 30px;
}

form {
  margin-top: 25px;
}

// Container - Base Styles
.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
  height: 100vh;

  img {
    width: 100%;
    height: 300px;
  }
}

// Search Form

form {
  margin-top: 20px;

  input {
    width: 500px;
    padding-left: 1rem;
    outline: none;
    margin: auto;
    box-shadow: 3px 3px 3px 0 rgba(206, 51, 51, 0.7);
    border: none;
    border: 2px solid red;
  }
}

.images-list {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 20px;
}

.movie-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  transition: all 0.5s ease-in;
}

.movie-img:hover {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
  transform: scaleX(1);
}

.image-overlay {
  position: relative;
}

.image-overlay:hover .image {
  opacity: 0.3;
}

.image-overlay:hover .middle {
  opacity: 1;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-text {
  background-color: darken($image-overlay, 60%);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 100%;
}

// Hero Image

.hero-backdrop-img {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: black;
  width: 100%;
}

.container-inner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-inner::after {
  content: "";
  background-color: black;
  // box-shadow: ;
  webkit-box-shadow: 10px 10px 5px 0px rgba(46, 74, 117, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(46, 74, 117, 1);
  box-shadow: 10px 10px 5px 0px rgba(46, 74, 117, 1);
  opacity: 0.9;
  z-index: -1;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

}
