@import "./stylesheet/form";

body {
  background: #161111 !important;
  font-family: "Anton", sans-serif !important;
  color: wheat !important;
  margin: 0;
  padding: 0;
}

.Movie-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas: "header sidebar" "main" "sidebar main";
  height: 100vh;

  .Movie-header {
    grid-area: header;
    position: fixed;
    padding: 1rem;
    width: 100%;
    background: blue;
    &__content {
      width: 85%;
      max-width: 1250px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .Movie__banner {
    grid-area: main;
    background: white;
    width: 100%;
  }

  .sidebar {
    grid-area: sidebar;
  }
  .Movie-list__items {
    grid-area: main;
    &-img {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
